<!DOCTYPE html>
<html lang="en">

<head>
    <title>32 Pinewood Drive</title>
    <meta charset="UTF-8">
    <meta name="description" content="32 Pinewood Drive">
    <meta name="keywords" content="PINEWOOD, unica, creative, html">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <link rel="stylesheet" type="text/css" href="../public/css/pine.css">
    <link rel="stylesheet" type="text/css" href="../public/css/about.css">

    <script src="../public/js/pine.js"></script>

</head>
<style>
    img.logo-navbar {
        /* width: 7rem !important;
        height: 7rem !important; */
        width: 50%;
        height: auto;
    }
</style>

<body>
    <div id="header">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
            <a href="#" class="navbar-brand">
                <img src="../public/images/logo.png" class="logo-navbar" alt="Responsive image">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../view/home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/about.html">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/Blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/Contact.html">Contact us</a>
                    </li>

                </ul>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
                    Enquiry Now
                </button>
            </div>

        </nav>
    </div>
    <section class="contact-bg-header">
        <div class="bg-image">
            <div class="row">
                <div class="col-xs-12 col-lg-12 short-image-title margin-top-200">
                    <h1 class="second-color wow fadeInDown" style="color:black;font:bold;">About Us</h1>
                    <div class="short-title-separator"></div>
                    <div class="col-lg-8 about-desc col-lg-offset-2" style="margin-top: 22px">
                        <p class="wow fadeInLeft">32 Pinewood Drive Group has been into the real estate business since
                            the
                            past 30 years and created a niche for itself in Talegaon, Kamshet and Pune.
                            &nbsp;32 Pinewood Drive Group caters to every segment of the society and makes the dream of
                            every
                            home buyer their very &nbsp;own and work in the same direction.
                            &nbsp; Their focus has been into developing premium residential townships, commercial
                            complexes, lifestyle gated communities and affordable abodes. It firmly believes in the
                            philosophy of ‘Think. Feel. Do’ for its customers, employees and its stakeholders.
                            The brand today has risen to become a brand known for innovation in design, assured
                            quality and cutting-edge engineering. Add to that a committed powerhouse of human
                            resource that's always eager to rise to the next level.
                            &nbsp;</p>
                    </div>
                </div>


            </div>
        </div>
    </section>
</body>

</html>