<!DOCTYPE html>
<html lang="en">

<head>
    <title>32 Pinewood Drive</title>
    <meta charset="UTF-8">
    <meta name="description" content="32 Pinewood Drive">
    <meta name="keywords" content="PINEWOOD, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <link rel="stylesheet" type="text/css" href="../public/css/pine.css">
    <link rel="stylesheet" type="text/css" href="../public/css/construction.css">

    <script src="../public/js/pine.js"></script>
</head>

<body>

    <div class="container ">
        <!-- <div class="row">
                    <div class="col-md-12"> -->
        <nav id="hamburger" class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class=" container">
                <a href="#" class="navbar-brand">
                    <img src="../public/images/logo.png" height="88" alt="CoolBrand">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">

                    <div class="navbar-nav flex-fill">
                        <div><a class="nav-item nav-link nav-pad" href="../view/pinewood.html">
                                HOME </a>
                        </div>
                        <div><a class="nav-item nav-link" href="../view/about.html">ABOUT US</a></div>
                        <div><a class="nav-item nav-link" href="../view/Blog.html">BLOG</a></div>
                        <div><a class="nav-item nav-link" href="#">AMENITIES</a></div>
                        <div><a class="nav-item nav-link" href="../view/construction.html">SITE UPDATES</a></div>
                        <div><a class="nav-item nav-link" href="../view/Contact.html">CONTACT</a> </div>
                    </div>
                </div>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
                    Enquiry Now
                </button>
            </div>
        </nav>
    </div>


    <!-- Enquiry Modal start -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label for="formGroupExampleInput" class="bmd-label-floating">Please Let us know you
                        requirement!
                    </label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                            <div class="row">
                                <div class="col-md-1"></div>
                                <label for="formGroupExampleInput" class="bmd-label-floating col-md-9">Name :
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <input type="text" placeholder="ex. Shreya Agarwal" required
                                    class="form-control col-md-9" id="formGroupExampleInput">
                            </div>

                        </div>
                        <div class="form-group bmd-form-group">
                            <!-- manually specified -->
                            <div class="row">
                                <div class="col-md-1"></div>
                                <label for="formGroupExampleInput2" class="bmd-label-floating col-md-9">Email :
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <input type="email" placeholder="ex. abc@gmail.com" required
                                    class="form-control col-md-9" id="formGroupExampleInput2">
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                            <div class="row">
                                <div class="col-md-1"></div>
                                <label for="formGroupExampleInput" class="bmd-label-floating col-md-9">Phone :
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <input type="phone" placeholder="ex. +91 9867543267" required
                                    class="form-control col-md-9" id="formGroupExampleInput">
                            </div>

                        </div>
                        <div class="form-group">
                            <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                            <div class="row">
                                <div class="col-md-1"></div>
                                <label for="formGroupExampleInput"
                                    class="bmd-label-floating col-md-9 label_center">Comment :
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <textarea type="text-area" row=4 col=4 placeholder="ex. abcdefgh" required
                                    class="form-control col-md-9" id="formGroupExampleInput"></textarea>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!--Enquiry Model ends here-->
    <!-- body site update start -->

    <section class="contact-bg-header">
        <div class="bg-image">
            <div class="second-header">
                <h1 class="entry-title">Construction Updates</h1>
            </div>
        </div>



        <div id="content" class="site-content">
            <div class="container">
                <div class="row">
                    <div id="primary" class="col-md-12 content-area">
                        <main id="main" class="site-main" role="main">
                            <article id="post-2" class="post-content post-2 page type-page status-publish hentry"
                                style="display: block">
                                <header class="entry-header">
                                    <span class="screen-reader-text">Construction Updates</span>
                                    <div class="entry-meta"></div><!-- .entry-meta -->
                                </header><!-- .entry-header -->


                                <div class="entry-content">
                                    <style>
                                        .sidebar {
                                            display: none;
                                        }

                                        <br />.post-content,
                                        .single-post-content,
                                        .post-comments,
                                        .comments-area {
                                            <br />background-color: #fff;
                                            <br />box-shadow: 0px 0px 0px rgb(0, 0, 0);
                                            <br />-moz-box-shadow: 0 0 0px rgb(0, 0, 0);
                                            <br />-webkit-box-shadow: 0 0 0px rgb(0, 0, 0);
                                            <br />-o-box-shadow: 0 0 0px rgb(0, 0, 0);
                                            <br />
                                        }

                                        <br />.entry-content img,
                                        img.size-full {
                                            <br />max-width: 100%;
                                            <br />width: 77%;
                                            <br />
                                        }

                                        <br />.cat-logo {
                                            float: left;
                                        }

                                        <br />.cat-logo img {
                                            margin-left: 3px;
                                            border: 1px solid #ccc;
                                            border-radius: 3px;
                                        }

                                        <br />.cat-cato {
                                            float: left;
                                            <br />margin: 2% 3%;
                                            <br />font-size: 23px;
                                        }

                                        <br />.entry-header {
                                            display: none;
                                        }

                                        <br />
                                    </style>
                                    <div class="cat-logo col-md-2"><a style="color: #434343;"
                                            href="https://www.namratagroup.com/site-updates/ecocity/"><br>
                                            <img class="alignnone size-full wp-image-151"
                                                src="https://www.namratagroup.com/site-updates/wp-content/uploads/2017/10/logo-color-1.png"
                                                title="Ecocity 2.0" alt="Ecocity 2.0" width="150" height="65"></a></div>
                                    <div class="cat-logo col-md-2"><a style="color: #434343;"
                                            href="https://www.namratagroup.com/site-updates/aikonic"><br>
                                            <img class="alignnone size-full wp-image-151"
                                                src="https://www.namratagroup.com/site-updates/wp-content/uploads/2018/08/aikonic-logo.png"
                                                title="Aikonic" alt="Aikonic" width="150" height="65"></a></div>
                                    <div class="cat-logo col-md-2"><a style="color: #434343;"
                                            href="https://www.namratagroup.com/site-updates/life-360-degree"><br>
                                            <img class="alignnone size-full wp-image-151"
                                                src="https://www.namratagroup.com/site-updates/wp-content/uploads/2018/08/life-360-logo.png"
                                                title="Life 360 Degree" alt="Life 360 Degree" width="150"
                                                height="65"></a></div>
                                    <div class="cat-logo col-md-2"><a style="color: #434343;"
                                            href="https://www.namratagroup.com/site-updates/32-pinewood-drive"><br>
                                            <img class="alignnone size-full wp-image-151"
                                                src="https://www.namratagroup.com/site-updates/wp-content/uploads/2019/02/logo-color-11.png"
                                                title="32 Pinewood Drive" alt="32 Pinewood Drive" width="150"
                                                height="65"></a></div>
                                    <div class="cat-logo col-md-2"><a style="color: #434343;"
                                            href="https://www.namratagroup.com/site-updates/7-Plumeria-Drive"><br>
                                            <img class="alignnone size-full wp-image-151"
                                                src="https://www.namratagroup.com/site-updates/wp-content/uploads/2019/02/logo-color-3.png"
                                                title="7 Plumeria Drive" alt="7 Plumeria Drive" width="150"
                                                height="65"></a></div>
                                    <div class="cat-logo col-md-2"><a style="color: #434343;"
                                            href="https://www.namratagroup.com/site-updates/happycity-talegaon-varale"><br>
                                            <img class="alignnone size-full wp-image-151"
                                                src="https://www.namratagroup.com/site-updates/wp-content/uploads/2019/02/logo-color-13.png"
                                                title="Happycity Talegaon Varale" alt="Happycity Talegaon Varale"
                                                width="150" height="65"></a></div>
                                    <div class="cat-logo col-md-2" style="clear:both"><a style="color: #434343;"
                                            href="https://www.namratagroup.com/site-updates/happycity-talegaon-jijamata-chowk"><br>
                                            <img class="alignnone size-full wp-image-151"
                                                src="https://www.namratagroup.com/site-updates/wp-content/uploads/2019/02/logo-color-12.png"
                                                title="Happycity Talegaon Jijamata Chowk"
                                                alt="Happycity Talegaon Jijamata Chowk" width="150" height="65"></a>
                                    </div>
                                </div><!-- .entry-content -->
                            </article><!-- #post-## -->
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="googleMap1" style="width:100%;height:400px;"></div>

    <script>
        function myMap() {
            var mapProp = {
                center: new google.maps.LatLng(51.508742, -0.120850),
                zoom: 5,
            };
            var map = new google.maps.Map(document.getElementById("googleMap1"), mapProp);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
    <!-- footer section start -->

    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img src="../public/images/logo.png" class="logo">
                </div>
                <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <button type="button" class="btn btn-default">Contact us</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Copyright © 2019 32 PinewoodDrive </p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>