<!DOCTYPE html>
<html lang="en">
<head>
	<title>32 Pinewood Drive</title>
	<meta charset="UTF-8">
	<meta name="description" content="32 Pinewood Drive">
	<meta name="keywords" content="PINEWOOD, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="../public/css/style.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	
</head>
<body>
	<div class="header-section">
			<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="site-navbar">
								<a href="#" class="site-logo"><img src="../public/images/logo.png" style="width: 100px" alt=""></a>
								<div class="nav-switch">
									<i class="fa fa-bars"></i>
								</div>
								<ul class="main-menu">
									<li><a href="index.html">Home</a></li>
									<li><a href="about.html">ABOUT US</a></li>
									<li><a href="blog.html">BLOG</a></li>
									<li><a href="amenities.html">AMENITIES</a></li>
									<li><a href="contact.html">CONTACT</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- modal start -->
					
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
							Launch demo modal
						  </button>
						  
						  <!-- Modal -->
						  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
								</div>
								<div class="modal-body">
								  ...
								</div>
								<div class="modal-footer">
								  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								  <button type="button" class="btn btn-primary">Save changes</button>
								</div>
							  </div>
							</div>
						  </div>
				
			</header>
			<!-- Header section end -->
		
		
			<!-- Hero section -->
			<section class="hero-area">
					<div class="hero-slides owl-carousel">
						<!-- Single Hero Slide -->
						<div class="single-hero-slide bg-img" style="background-image: url(../public/images/1.jpg);">
							<div class="container h-100">
								<div class="row h-100 align-items-center">
									<div class="col-12">
										<div class="hero-slides-content">
											<h2 data-animation="fadeInUp" data-delay="100ms">Find your home</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Single Hero Slide -->
						<div class="single-hero-slide bg-img" style="background-image: url(../public/images/2.jpg);">
							<div class="container h-100">
								<div class="row h-100 align-items-center">
									<div class="col-12">
										<div class="hero-slides-content">
											<h2 data-animation="fadeInUp" data-delay="100ms">Find your dream house</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Single Hero Slide -->
						<div class="single-hero-slide bg-img" style="background-image: url(../public/images/3.jpg);">
							<div class="container h-100">
								<div class="row h-100 align-items-center">
									<div class="col-12">
										<div class="hero-slides-content">
											<h2 data-animation="fadeInUp" data-delay="100ms">Find your perfect house</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- ##### Hero Area End ##### -->
			<!-- Hero section end -->
		
	</div>
</body>
